.nav {
    display: flex;
    justify-content: flex-end;
    /* margin: 0 0 10px; */
    background-color: rgb(82, 133, 133);
    height: 40px;
  }
  
  .nav-link {
    /* margin: 0 10px 10px 10px; */
  }
  
  .NavBar-welcome {
    /* margin: 10px 10px 10px 0; */
    color: grey;
  }