.NavBar {

    background-color: #01B6BD;
    height: 50px; 
    z-index: 100;
    color: white !important;
  }

  .NavBar .h5 {
    margin-top: 6px;
  }
  /* .NavBar img


.bar a { 
  font-weight: bold;
}

.h3 { 
  font-size: 24px; 
  text-align: center; 
  text-transform: uppercase;
} */