/* .NavBar {
    display: flex;
    justify-content: space-around;
    margin: 0 0 10px;
    background-color: #01B6BD;
    height: 40px; 
   
  } */

  /* .NavBar img


.bar a { 
  font-weight: bold;
}

.h3 { 
  font-size: 24px; 
  text-align: center; 
  text-transform: uppercase;
} */